<!DOCTYPE html>
<html lang="ja">
  <title>体温登録システムホーム</title>
  <body>
    <h2>体温登録システムホーム</h2>
    {% if user.id  %}
    <p>ログインしました．</p>
    <p>こんにちは，{{ user.username }}さん</p>
    <a href="{% url 'AccountApp:logout' %}">ログアウトする</a>
    <a href="{% url 'AccountApp:formpage' %}">体温を登録する</a>
    {% else %}
    <a href="{% url 'AccountApp:user_create' %}">アカウント作成</a>
    <a href="{% url 'AccountApp:login' %}">ログイン</a>
    {% endif %}

    {% if messages %}
    <div class="messages alert alert-primary" role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
    </div>
    {% endif %}

  </body>
</html>