{% block content %}
    <h2>体温登録</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% with form as f %}

    <form method="post">{% csrf_token %}
      <div><label>{{ f.StudentID.label }}</label>: {{ f.StudentID }}</div>
      <div><label>{{ f.TemperatureA.label }}</label>: {{ f.TemperatureA }} . {{ f.TemperatureB }}</div>
      <div><label>{{ f.Q1.label }}</label>: {{ f.Q1 }}</div>
      <div><label>{{ f.Q2.label }}</label>: {{ f.Q2 }}</div>
      <div><label>{{ f.FreeText.label }}</label>: {{ f.FreeText }}</div>
        <input type="submit" value="送信">
    </form>

    {% endwith %}

{% endblock %}